@{ Layout = "~/Views/Shared/_noHeaderLayout.cshtml"; }

@section Styles {
    <link href="@Url.Content("../Content/css/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("../Content/css/structure.css")" rel="stylesheet" type="text/css" />
}

<div class="content">
    @RenderBody()
</div>
