@model HeaderViewRenderMode

@if(Model == HeaderViewRenderMode.Title) {
    <div class="templateTitle">
        @*@Html.ActionLink("Portal web1", "Index", "Home")*@
        <img src="@Url.Content("~/Content/Images/logo-mobility.png")" alt="Mobility" width="10%" height="10%" />
    </div>
} else { 
    if(Model == HeaderViewRenderMode.Full) { 
        <div class="headerTop">
            <table>
                <tr>
                    <td >
                        <div style="padding-left: 1%;"@*class="templateTitle"*@>
                            @*@Html.ActionLink("Portal web2", "Index", "Home")*@
                            <img src="@Url.Content("~/Content/Images/logo-mobility.png")" alt="Mobility" width="15%" height="15%" />
                        </div>
                    </td>
                    <td style="padding-right: 2%;">
                        <div @*class="loginControl"*@>
                            @Html.Partial("LogOnPartialView")
                        </div>
                    </td>
                </tr>
            </table>
            
            
        </div>
    }

    <div class="headerMenu">
        
    </div>
}