<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BandaAtoxAriumSoap" />
                <binding name="WMS_TransSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.20.11:8091/Servicios/BandaAtoxArium.asmx"
                binding="basicHttpBinding" bindingConfiguration="BandaAtoxAriumSoap"
                contract="BandaAtoxAriumWS.BandaAtoxAriumSoap" name="BandaAtoxAriumSoap" />
            <endpoint address="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_Trans.asmx"
                binding="basicHttpBinding" bindingConfiguration="WMS_TransSoap"
                contract="OnePlanServices_Trans.WMS_TransSoap" name="WMS_TransSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.1" newVersion="2015.1.225.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2015.1.225.1" newVersion="2015.1.225.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
